interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.3
    method: GET
    uri: https://api.crossref.org/works/10.1016/j.ijheatmasstransfer.2023.124726
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,11,11]],"date-time":"2023-11-11T00:24:43Z","timestamp":1699662283411},"reference-count":39,"publisher":"Elsevier
        BV","license":[{"start":{"date-parts":[[2024,1,1]],"date-time":"2024-01-01T00:00:00Z","timestamp":1704067200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2023,9,19]],"date-time":"2023-09-19T00:00:00Z","timestamp":1695081600000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["International
        Journal of Heat and Mass Transfer"],"published-print":{"date-parts":[[2024,1]]},"DOI":"10.1016\/j.ijheatmasstransfer.2023.124726","type":"journal-article","created":{"date-parts":[[2023,9,29]],"date-time":"2023-09-29T17:03:31Z","timestamp":1696007011000},"page":"124726","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":0,"title":["Design
        and performance of a novel compact high-effectiveness transparent-wall counter-flow
        heat exchanger fabricated using additive manufacturing"],"prefix":"10.1016","volume":"218","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-6533-0233","authenticated-orcid":false,"given":"A.","family":"Onufrena","sequence":"first","affiliation":[]},{"given":"T.","family":"Koettig","sequence":"additional","affiliation":[]},{"given":"B.","family":"Naydenov","sequence":"additional","affiliation":[]},{"given":"J.","family":"Bremer","sequence":"additional","affiliation":[]},{"given":"T.","family":"Tirolien","sequence":"additional","affiliation":[]},{"given":"H.J.M.","family":"ter
        Brake","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.ijheatmasstransfer.2023.124726_br0010","doi-asserted-by":"crossref","article-title":"Cryogenic
        performance of a compact high-effectiveness mesh-based counter-flow heat exchanger","author":"Onufrena","year":"2022","journal-title":"Cryogenics","DOI":"10.1016\/j.cryogenics.2022.103495"},{"key":"10.1016\/j.ijheatmasstransfer.2023.124726_br0020","author":"Fernandes"},{"key":"10.1016\/j.ijheatmasstransfer.2023.124726_br0030","author":"Fernandes"},{"issue":"1","key":"10.1016\/j.ijheatmasstransfer.2023.124726_br0040","doi-asserted-by":"crossref","first-page":"61","DOI":"10.1016\/j.cryogenics.2007.11.004","article-title":"Construction
        and test of a cryocooler-cooled low-Tc SQUID gradiometer system","volume":"48","author":"Rijpma","year":"2008","journal-title":"Cryogenics"},{"issue":"1","key":"10.1016\/j.ijheatmasstransfer.2023.124726_br0050","doi-asserted-by":"crossref","DOI":"10.1088\/1742-6596\/1342\/1\/012014","article-title":"The
        status of KAGRA underground cryogenic gravitational wave telescope","volume":"1342","author":"Akutsu","year":"2020","journal-title":"J.
        Phys. Conf. Ser."},{"issue":"12","key":"10.1016\/j.ijheatmasstransfer.2023.124726_br0060","doi-asserted-by":"crossref","DOI":"10.1088\/0264-9381\/29\/12\/124007","article-title":"Detector
        configuration of KAGRA\u2013the Japanese cryogenic gravitational-wave detector","volume":"29","author":"Somiya","year":"2012","journal-title":"Class.
        Quantum Gravity"},{"issue":"1","key":"10.1016\/j.ijheatmasstransfer.2023.124726_br0070","doi-asserted-by":"crossref","DOI":"10.1088\/1742-6596\/1857\/1\/012002","article-title":"Radiative
        cooling of the thermally isolated system in KAGRA gravitational wave telescope","volume":"1857","author":"Akutsu","year":"2021","journal-title":"J.
        Phys. Conf. Ser."},{"key":"10.1016\/j.ijheatmasstransfer.2023.124726_br0080","series-title":"Einstein
        gravitational wave Telescope (ET) conceptual design study","author":"Abernathy","year":"2011"},{"key":"10.1016\/j.ijheatmasstransfer.2023.124726_br0090","author":"Kleiven"},{"key":"10.1016\/j.ijheatmasstransfer.2023.124726_br0100","author":"Will"},{"key":"10.1016\/j.ijheatmasstransfer.2023.124726_br0110","author":"Wollmann"},{"key":"10.1016\/j.ijheatmasstransfer.2023.124726_br0120","doi-asserted-by":"crossref","DOI":"10.1016\/j.ijheatmasstransfer.2021.122107","article-title":"D[...]
