interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.32.3 habanero/1.2.6
    method: GET
    uri: https://api.crossref.org/works/10.1103/73rr-shyt
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,7,2]],"date-time":"2025-07-02T04:15:39Z","timestamp":1751429739815,"version":"3.41.0"},"reference-count":110,"publisher":"American
        Physical Society (APS)","issue":"1","license":[{"start":{"date-parts":[[2025,7,1]],"date-time":"2025-07-01T00:00:00Z","timestamp":1751328000000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":["journals.aps.org"],"crossmark-restriction":true},"short-container-title":["Phys.
        Rev. C"],"accepted":{"date-parts":[[2025,6,10]]},"abstract":"<jats:p>The cross
        sections\u00a0for the <a:math xmlns:a=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><a:mrow><a:mi>p<\/a:mi><a:mi>p<\/a:mi><a:mo>\u2192<\/a:mo><a:mi>p<\/a:mi><a:mi>p<\/a:mi><a:mi>\u03b7<\/a:mi><\/a:mrow><\/a:math>
        reaction are evaluated at energies relevant for the HADES, PANDA, and SIS100
        experiments at GSI-FAIR (Facility for Antiproton and Ion Research). Consideration
        includes the <b:math xmlns:b=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><b:mi>\u03b7<\/b:mi><\/b:math>-bremsstrahlung
        mechanism involving intermediate proton exchange via the <c:math xmlns:c=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><c:msup><c:mi>\u03c0<\/c:mi><c:mn>0<\/c:mn><\/c:msup><\/c:math>,
        <d:math xmlns:d=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><d:mi>\u03b7<\/d:mi><\/d:math>,
        <e:math xmlns:e=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><e:msup><e:mi>\u03c1<\/e:mi><e:mn>0<\/e:mn><\/e:msup><\/e:math>,
        and <f:math xmlns:f=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><f:mi>\u03c9<\/f:mi><\/f:math>
        exchanges and the mechanism involving the nucleon resonances <g:math xmlns:g=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><g:mrow><g:mi>N<\/g:mi><g:mo>(<\/g:mo><g:mn>1535<\/g:mn><g:mo>)<\/g:mo><\/g:mrow><\/g:math>,
        <h:math xmlns:h=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><h:mrow><h:mi>N<\/h:mi><h:mo>(<\/h:mo><h:mn>1650<\/h:mn><h:mo>)<\/h:mo><\/h:mrow><\/h:math>,
        <i:math xmlns:i=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><i:mrow><i:mi>N<\/i:mi><i:mo>(<\/i:mo><i:mn>1710<\/i:mn><i:mo>)<\/i:mo><\/i:mrow><\/i:math>,
        and <j:math xmlns:j=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><j:mrow><j:mi>N<\/j:mi><j:mo>(<\/j:mo><j:mn>1880<\/j:mn><j:mo>)<\/j:mo><\/j:mrow><\/j:math>
        excited via the pseudoscalar- and\/or vector-meson exchanges, depending on
        the model. The role of the <k:math xmlns:k=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><k:mrow><k:mi>\u03c9<\/k:mi><k:mi>\u03c9<\/k:mi><\/k:mrow><\/k:math>-
        and <l:math xmlns:l=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><l:mrow><l:msup><l:mi>\u03c1<\/l:mi><l:mn>0<\/l:mn><\/l:msup><l:msup><l:mi>\u03c1<\/l:mi><l:mn>0<\/l:mn><\/l:msup><\/l:mrow><\/l:math>-fusion
        processes with the Reggeized vector-meson exchanges is also discussed. The
        calculation is done in an effective Lagrangian approach. To determine the
        parameters of the model, the <m:math xmlns:m=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><m:mrow><m:mi>\u03b3<\/m:mi><m:mi>p<\/m:mi><m:mo>\u2192<\/m:mo><m:mi>\u03b7<\/m:mi><m:mi>p<\/m:mi><\/m:mrow><\/m:math>
        and <n:math xmlns:n=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><n:mrow><n:msup><n:mi>\u03c0<\/n:mi><n:mo>\u2212<\/n:mo><\/n:msup><n:mi>p<\/n:mi><n:mo>\u2192<\/n:mo><n:mi>\u03b7<\/n:mi><n:mi>n<\/n:mi><\/n:mrow><\/n:math>
        reactions are studied and the results are then compared with the Crystal Ball
        and CLAS data. For the <o:math xmlns:o=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><o:mrow><o:mi>p<\/o:mi><o:mi>p<\/o:mi><o:mo>\u2192<\/o:mo><o:mi>p<\/o:mi><o:mi>p<\/o:mi><o:mi>\u03b7<\/o:mi><\/o:mrow><\/o:math>
        reaction, the model results are compared with the energy dependence of the
        cross section\u00a0measured far from the threshold and with the differential
        distributions <p:math xmlns:p=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><p:mrow><p:mi>d<\/p:mi><p:mi>\u03c3<\/p:mi><p:mo>\/<\/p:mo><p:mi>d<\/p:mi><p:mo
        form=\"prefix\">cos<\/p:mo><p:msub><p:mi>\u03b8<\/p:mi><p:mi>\u03b7<\/p:mi><\/p:msub><\/p:mrow><\/p:math>
        and <r:math xmlns:r=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><r:mrow><r:mi>d<\/r:mi><r:mi>\u03c3<\/r:mi><r:mo>\/<\/r:mo><r:mi>d<\/r:mi><r:msub><r:mi>p<\/r:mi><r:mi>\u03b7<\/r:mi><\/r:msub><\/r:mrow><\/r:math>
        measured by the DISTO Collaboration. The comparison shows that the <s:math
        xmlns:s=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><s:mrow><s:mi>N<\/s:mi><s:mo>(<\/s:mo><s:mn>1535<\/s:mn><s:mo>)<\/s:mo><\/s:mrow><\/s:math>
        resonance is the dominant contribution and that other contributions are also
        important due to interference effects. Assuming that the <t:math xmlns:t=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><t:mi>\u03c1<\/t:mi><\/t:math>
        exchange is the dominant resonant excitation process, the model is able to
        describe the available data, e.g., it reproduces the shape of the angular
        distributions measured by the DISTO Collaboration. Predictions are given for
        the HADES experiment at center-of-mass energy of <u:math xmlns:u=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><u:mrow><u:msqrt><u:mi>s<\/u:mi><\/u:msqrt><u:mo>=<\/u:mo><u:mn>3.46<\/u:mn><\/u:mrow><\/u:math>
        GeV, which can be verified in the near future, and for planned PANDA and SIS100
        experiments at higher energies.<\/jats:p>\n          <jats:sec>\n            <jats:title\/>\n            <jats:supplementary-material>\n              <jats:permissions>\n                <jats:copyright-statement>Published
        by the American Physical Society<\/jats:copyright-statement>\n                <jats:copyright-year>2025<\/jats:copyright-year>\n              <\/jats:permissions>\n            <\/jats:supplementary-material>\n          <\/jats:sec>","DOI":"10.1103\/73rr-shyt","type":"journal-article","created":{"date-parts":[[2025,6,10]],"date-time":"2025-06-10T13:56:13Z","timestamp":1749563773000},"update-policy":"https:\/\/doi.org\/10.1103\/crossmark-policy","source":"Crossref","is-referenced-by-count":0,"title":["Exclusive
        \n<mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><mml:mi>\u03b7<\/mml:mi><\/mml:math>\n
        production in proton-proton collisions at energies available at the GSI Facility
        for Antiproton and Ion Research"],"prefix":"10.1103","volume":"112","author":[{"ORCID":"https:\/\/orcid.org\/0000-0003-1963-6263","authenticated-orcid":true,"given":"Piotr","family":"Lebiedowicz","sequence":"first","affiliation":[]}],"member":"16","published-online":{"date-parts":[[2025,7,1]]},"reference":[{"key":"73rr-shytCc1R1","doi-asserted-by":"publisher","DOI":"10.1016\/j.physrep.2021.11.001"},{"key":"73rr-shytCc2R1","doi-asserted-by":"publisher","DOI":"10.1016\/0375-9474(90)90552-W"},{"key":"73rr-shytCc3R1","doi-asserted-by":"publisher","DOI":"10.1016\/0370-2693(91)91888-3"},{"key":"73rr-shytCc4R1","doi-asserted-by":"publisher","DOI":"10.1016\/0370-2693(91)90578-E"},{"key":"73rr-shytCc5R1","doi-asserted-by":"publisher","DOI":"10.1088\/0031-8949\/56\/4\/001"},{"key":"73rr-shytCc6R1","doi-asserted-by":"publisher","DOI":"10.1016\/S0375[...]
