interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.32.3 habanero/1.2.6
    method: GET
    uri: https://api.crossref.org/works/10.1155/2024/6666609
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,7,30]],"date-time":"2025-07-30T15:15:09Z","timestamp":1753888509496,"version":"3.41.2"},"reference-count":43,"publisher":"Wiley","issue":"1","license":[{"start":{"date-parts":[[2024,7,8]],"date-time":"2024-07-08T00:00:00Z","timestamp":1720396800000},"content-version":"vor","delay-in-days":189,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100002651","name":"Sponsoring
        Consortium for Open Access Publishing in Particle Physics","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100002651","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["onlinelibrary.wiley.com"],"crossmark-restriction":true},"short-container-title":["Advances
        in High Energy Physics"],"published-print":{"date-parts":[[2024,1]]},"abstract":"<jats:p>For
        the static spherically symmetric dilatonic black hole described by the Gibbons\u2013Maeda\u2013Garfinkle\u2013Horowitz\u2013Strominger
        geometry, we analyze the timelike trajectories for electrically charged test
        particles. Both cases of an electric black hole and a magnetic one are considered.
        Finally, we are obtaining the solution to the Klein\u2013Gordon equation in
        terms of Heun confluent functions and the corresponding energy spectrum. A
        special attention is given to the role of the dilaton parameter.<\/jats:p>","DOI":"10.1155\/2024\/6666609","type":"journal-article","created":{"date-parts":[[2024,7,8]],"date-time":"2024-07-08T10:50:07Z","timestamp":1720435807000},"update-policy":"https:\/\/doi.org\/10.1002\/crossmark_policy","source":"Crossref","is-referenced-by-count":0,"title":["Charged
        Particles Moving around a Spherically Symmetric Dilatonic Black Hole"],"prefix":"10.1155","volume":"2024","author":[{"ORCID":"https:\/\/orcid.org\/0000-0003-2257-0701","authenticated-orcid":false,"given":"Vitalie","family":"Lungu","sequence":"first","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0002-0385-3485","authenticated-orcid":false,"given":"Marina\u2013Aura","family":"Dariescu","sequence":"additional","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0001-7086-2915","authenticated-orcid":false,"given":"Ciprian","family":"Dariescu","sequence":"additional","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0001-7585-9897","authenticated-orcid":false,"given":"Cristian","family":"Stelea","sequence":"additional","affiliation":[]}],"member":"311","published-online":{"date-parts":[[2024,7,8]]},"reference":[{"key":"e_1_2_9_1_2","doi-asserted-by":"publisher","DOI":"10.1038\/s41550-018-0449-5"},{"key":"e_1_2_9_2_2","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevD.43.3140"},{"key":"e_1_2_9_3_2","doi-asserted-by":"publisher","DOI":"10.1016\/0550-3213(88)90006-5"},{"key":"e_1_2_9_4_2","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevLett.69.1006"},{"key":"e_1_2_9_5_2","unstructured":"NarangA.
        MohantyS. andKumarA. Test of Kerr-Sen metric with black hole observations
        2020 https:\/\/arxiv.org\/abs\/2002.12786."},{"key":"e_1_2_9_6_2","doi-asserted-by":"publisher","DOI":"10.1051\/0004-6361\/202037813"},{"key":"e_1_2_9_7_2","doi-asserted-by":"publisher","DOI":"10.1088\/1475-7516\/2023\/08\/039"},{"key":"e_1_2_9_8_2","doi-asserted-by":"publisher","DOI":"10.1093\/mnras\/staa3232"},{"key":"e_1_2_9_9_2","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevD.109.044008[...]
