interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.31.0 habanero/1.2.3
    method: GET
    uri: https://api.crossref.org/works/10.1007/JHEP11(2019)001
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,10,29]],"date-time":"2023-10-29T00:03:46Z","timestamp":1698537826473},"reference-count":60,"publisher":"Springer
        Science and Business Media LLC","issue":"11","license":[{"start":{"date-parts":[[2019,11,1]],"date-time":"2019-11-01T00:00:00Z","timestamp":1572566400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0"},{"start":{"date-parts":[[2019,11,4]],"date-time":"2019-11-04T00:00:00Z","timestamp":1572825600000},"content-version":"vor","delay-in-days":3,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["J.
        High Energ. Phys."],"published-print":{"date-parts":[[2019,11]]},"abstract":"<jats:title>A<jats:sc>bstract<\/jats:sc>\n                     <\/jats:title><jats:p>Triggered
        by ongoing dark matter searches in the top quark sector at the Large Hadron
        Collider we report on the calculation of the next-to-leading order QCD corrections
        to the Standard Model process <jats:italic>pp \u2192 t<\/jats:italic><jats:inline-formula><jats:alternatives><jats:tex-math>$$
        \\overline{t} $$<\/jats:tex-math><mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\">\n                  <mml:mover>\n                    <mml:mi>t<\/mml:mi>\n                    <mml:mo>\u00af<\/mml:mo>\n                  <\/mml:mover>\n                <\/mml:math><\/jats:alternatives><\/jats:inline-formula>
        + <jats:italic>Z<\/jats:italic> (<jats:italic>Z \u2192 \u03bd<\/jats:italic><jats:sub>\u2113<\/jats:sub><jats:inline-formula><jats:alternatives><jats:tex-math>$$
        \\overline{v} $$<\/jats:tex-math><mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\">\n                  <mml:mover>\n                    <mml:mi>v<\/mml:mi>\n                    <mml:mo>\u00af<\/mml:mo>\n                  <\/mml:mover>\n                <\/mml:math><\/jats:alternatives><\/jats:inline-formula><jats:sub>\u2113<\/jats:sub>).
        This calculation is based on matrix elements for <jats:inline-formula><jats:alternatives><jats:tex-math>$$
        {e}^{+}{\\nu}_e{\\mu}^{-}{\\overline{\\nu}}_{\\mu }b\\overline{b}\\kern0.33em
        {\\nu}_{\\tau }{\\overline{\\nu}}_{\\tau } $$<\/jats:tex-math><mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\">\n                  <mml:msup>\n                    <mml:mi>e<\/mml:mi>\n                    <mml:mo>+<\/mml:mo>\n                  <\/mml:msup>\n                  <mml:msub>\n                    <mml:mi>\u03bd<\/mml:mi>\n                    <mml:mi>e<\/mml:mi>\n                  <\/mml:msub>\n                  <mml:msup>\n                    <mml:mi>\u03bc<\/mml:mi>\n                    <mml:mo>\u2212<\/mml:mo>\n                  <\/mml:msup>\n                  <mml:msub>\n                    <mml:mover>\n                      <mml:mi>\u03bd<\/mml:mi>\n                      <mml:mo>\u00af<\/mml:mo>\n                    <\/mml:mover>\n                    <mml:mi>\u0[...]
