interactions:
- request:
    body: null
    headers:
      X-USER-AGENT:
      - python-requests/2.32.3 habanero/1.2.6
    method: GET
    uri: https://api.crossref.org/works/10.1103/923l-yxkc
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,6,27]],"date-time":"2025-06-27T04:11:19Z","timestamp":1750997479691,"version":"3.41.0"},"reference-count":63,"publisher":"American
        Physical Society (APS)","issue":"6","license":[{"start":{"date-parts":[[2025,6,26]],"date-time":"2025-06-26T00:00:00Z","timestamp":1750896000000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100004281","name":"Narodowe
        Centrum Nauki","doi-asserted-by":"publisher","award":["2022\/47\/B\/ST2\/01372","2018\/30\/E\/ST2\/00432"],"id":[{"id":"10.13039\/501100004281","id-type":"DOI","asserted-by":"publisher"}]},{"name":"Faculty
        of Physics, Astronomy, and Applied Computer Science","award":["LM\/36\/BS"]}],"content-domain":{"domain":["journals.aps.org"],"crossmark-restriction":true},"short-container-title":["Phys.
        Rev. C"],"accepted":{"date-parts":[[2025,5,30]]},"abstract":"<jats:p>In this
        work, we address the problem of longitudinal spin polarization of the <a:math
        xmlns:a=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><a:mi mathvariant=\"normal\">\u039b<\/a:mi><\/a:math>
        hyperons produced in relativistic heavy-ion collisions. We combine a relativistic
        kinetic-theory framework that includes spin degrees of freedom treated in
        a classical way with the freeze-out parametrization used in previous investigations.
        The use of the kinetic theory allows us to incorporate dissipative corrections
        (due to the thermal shear and gradients of thermal vorticity) into the Pauli-Lubanski
        vector that determines spin polarization and can be directly compared with
        the experimental data. As in earlier similar studies, it turns out that a
        successful description of data can only be achieved with additional assumptions\u2014in
        our case, they involve the use of projected thermal vorticity and a suitably
        adjusted time for spin relaxation (<c:math xmlns:c=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><c:msub><c:mi>\u03c4<\/c:mi><c:mi>s<\/c:mi><\/c:msub><\/c:math>).
        From our analysis, we find that <d:math xmlns:d=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><d:mrow><d:msub><d:mi>\u03c4<\/d:mi><d:mi>s<\/d:mi><\/d:msub><d:mo>\u223c<\/d:mo><d:mn>5<\/d:mn><\/d:mrow><d:mspace
        width=\"4pt\"\/><d:mrow><d:mi>fm<\/d:mi><d:mo>\/<\/d:mo><d:mi>c<\/d:mi><\/d:mrow><\/d:math>,
        which is comparable with other estimates.<\/jats:p>\n          <jats:sec>\n            <jats:title\/>\n            <jats:supplementary-material>\n              <jats:permissions>\n                <jats:copyright-statement>Published
        by the American Physical Society<\/jats:copyright-statement>\n                <jats:copyright-year>2025<\/jats:copyright-year>\n              <\/jats:permissions>\n            <\/jats:supplementary-material>\n          <\/jats:sec>","DOI":"10.1103\/923l-yxkc","type":"journal-article","created":{"date-parts":[[2025,5,30]],"date-time":"2025-05-30T15:26:34Z","timestamp":1748618794000},"update-policy":"https:\/\/doi.org\/10.1103\/crossmark-policy","source":"Crossref","is-referenced-by-count":0,"title":["Longitudinal
        spin polarization in a thermal model with dissipative corrections"],"prefix":"10.1103","volume":"111","author":[{"ORCID":"https:\/\/orcid.org\/0000-0002-7141-6121","authenticated-orcid":true,"given":"Soham","family":"Banerjee","sequence":"first","affiliation":[{"id":[{"id":"https:\/\/ror.org\/02r2k1c68","id-type":"ROR","asserted-by":"publisher"}],"name":"National
        Institute of Science Education and Research"}]},{"ORCID":"https:\/\/orcid.org\/0000-0002-8693-4482","authenticated-orcid":true,"given":"Samapan","family":"Bhadury","sequence":"additional","affiliation":[{"id":[{"id":"https:\/\/ror.org\/03bqmcz70","id-type":"ROR","asserted-by":"publisher"}],"name":"Jagiellonian
        University"}]},{"ORCID":"https:\/\/orcid.org\/0000-0002-9215-0238"[...]
